@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(234, 239, 244);
  padding-top: 70px;
}

.navigation {
  background-color: rgb(57, 101, 233);
  height: 90px;
  position: fixed;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav li a {
  color: rgb(11, 10, 10);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  border-radius: 100%;
  width: 80px;
  text-align: center;
  border: 1px solid black;
  padding: 5px 5px;

}

.nav li {
  float: right;
  margin-right: 90px;
  display: flex;
  gap: 200px;
  margin-top: 20px;
}

.logo {
  position: fixed;
  margin-left: 25px;
  font-size: 40px;
}

img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  padding-right: 10px;
}

h3 {
  font-size: 20px;
}

.t1 {
  color: rgb(234, 239, 244);
}

.home {
  border: 1px solid black;
  border-radius: 20px;
  width: 94%;
  height: 20%;
  margin: 60px 40px;
  padding-top: 100px;
}

.home img {
  float: right;
  margin-left: 20px;
  width: 40%;
  height: 10%;
}

.home .hii {
  font-size: 80px;
}

.home p {
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  margin: 40px 20px;

}

.home .hiiii {
  font-size: 40px;
}

.c {
  float: left;
  border: 1px solid black;
  width: 45%;
  background-color: rgb(234, 239, 244);
  height: 600px;
  border-radius: 50px;
  margin-left: 45px;
  margin-bottom: 100px;
  padding-bottom: 20px;
}

.c2 {
  float: right;
  border: 1px solid black;
  width: 45%;
  background-color: rgb(234, 239, 244);
  margin-right: 45px;
  height: 600px;
  border-radius: 50px;
  margin-bottom: 100px;
  padding-bottom: 20px;
}

.c img {
  height: 70%;
  width: 80%;
  margin: 5% 9.5%;
}

.c2 img {
  height: 70%;
  width: 80%;
  margin: 5% 9.5%;
}

.c p {
  margin: 0% 10%;
  text-align: center;
}

.c2 p {
  margin: 0% 10%;
  text-align: center;
}

.c a {
  width: auto;
  height: auto;
  text-decoration: none;
}

.c button {
  margin-top: 5%;
  margin-left: 39%;
  text-align: center;
  width: 150px;
  height: 30px;
  border: 2px dotted black;
  border-end-end-radius: 30px;
  border-start-start-radius: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;

}

.c2 button {
  margin-top: 5%;
  margin-left: 39%;
  text-align: center;
  width: 150px;
  height: 30px;
  border: 2px dotted black;
  border-end-end-radius: 30px;
  border-start-start-radius: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

fieldset {
  border-style: groove;
  border-width: 12px;
  border-color: black;
  border-radius: 30px;
  padding: 20px;


}

legend {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: rgb(8, 9, 8);
}

.services {
  margin: 90px;
  height: auto;
  line-height: 40px;
  padding-top: 100px;
}

input[type=text] {
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
}

.label input[type=text] {
  width: 100%;
}

label {
  padding-top: 20px;
}

.f1 {
  width: auto;
  height: auto;
  float: left;
  margin-left: 300px;
  font-size: 20px;
  margin-top: 20px;
}

.f2 {
  width: auto;
  margin-right: 300px;
  height: auto;
  float: right;
  font-size: 20px;
  margin-top: 20px;
}

input[type=button] {
  border-width: 5px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

.home .hiiii input[type=button] {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home .hiiii input[type=button]:hover {
  background-color: rgb(198, 194, 201);
  cursor: pointer;
}

.contect {
  width: 50%;
  height: 60%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 350px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.contect h1 {
  margin-top: 30px;
  text-decoration: underline;
  margin-bottom: 30px;
}

.contect p {
  margin-bottom: 40px;
  line-height: 0px;
}

.contect p span {
  color: blue;
  text-decoration: underline;
}

.logo span {
  color: rgb(38, 50, 34);
}

.hii span {
  color: rgb(25, 10, 199);
}


.active {
  background-color: rgb(234, 239, 244);
  border-radius: 100%;
  width: 80px;
  text-align: center;
  border: 1px solid black;
}

.active:hover {
  background-color: rgb(158, 166, 226);
}

nav li a:hover {
  background-color: rgb(239, 234, 242);
}

.services input[type=submit] {
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px;
  font-size: 20px;
}

.services input[type=submit]:hover {
  background-color: rgb(234, 239, 244);
  font-size: 30px;
}

.about {
  width: 67%;
  height: auto;
  border: 1px solid black;
  background-color: rgb(234, 239, 244);
  padding-bottom: 20px;
  margin-left: 200px;
  border-radius: 20px;
  margin-bottom: 60px;
  padding-left: 100px;
  padding-top: 100px;

}

.about p {
  font-size: 60px;
  font-weight: 400;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  padding-bottom: 50px;
  padding-top: 20px;

}

.about li {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 20px;
  padding-bottom: 30px;

}

.about p span {
  font-weight: 900;
  color: rgb(17, 54, 198);
}

.menu {
  display: none;
}

.scrolled {
  background: rgb(155, 155, 154);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
